*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    background-image: url(https://academy.digitalcollege.com.br/login/images/background.png);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container{
    display: flex;
    width: 80%;
    max-width: 1200px;
    position: relative;
}
img{
    display: block;
    width: 100%;

}
.card{
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    /* width: 60%; */
    height: 100vh;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 1px 3px black;
}
h1{
    font-size:18px;
}
.formulario{
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;  
}
.campos{
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: 10px;
}
input{
    border-radius: 24px;
    border: 1px solid #ddd;
    padding: 20px;
}
.mbu{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: 20px 0;
}
a{
    color: #BF0067;
}
button{
    width: 80%;
    padding: 20px;
    background-color: #BF0067;
    color: white;
    border: none;
    border-radius: 24px;
    font-size: 16px;
    font-weight: 600;
}